/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  background: url("img/Burj_Khaleefah.jpg") no-repeat center center;
  color: white; 
  text-shadow: 0px 0px 8px #000000;
}
.jumbotron .btn {
  color: #FFFFFF;
  padding: 10px 16px;
  font-size: 21px;
  background-color: rgba(0,0,0,0.3); 
  border: 1px solid #FFFFFF;
  margin-top: 40px;
}

.jumbotron .btn:hover {
  background-color: rgba(0,0,0,0.2); 
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* For Gallery: Get rid of list styles */
ul {         
  padding:0 0 0 0;
  margin:0 0 0 0;
}
ul li {     
  list-style:none;
  margin-bottom:25px;           
}
ul li img {
  cursor: pointer;
}

.intro_ul li {
  list-style: circle;
  margin-bottom: 5px;
}

/* Custom First Character */
.firstcharacter { 
  float: left;
  color: #903; 
  font-size: 45px; 
  line-height: 30px; 
  padding-top: 4px; 
  padding-right: 3px; 
  padding-left: 3px; 
  font-family: Georgia;
}